services:
  frontend:
    build:
      context: ./frontend
      target: dev
    container_name: legoodanfitrion-frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    command: npm run dev -- --host 0.0.0.0 --port 5173

